@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

:root {
  --add-color: #39d979;
  --font-family: 'Schoolbell', cursive;
  --font-size: 20px;
  --bg-color: rgba(256, 256, 256, 0.2);
  --bg-secondary: rgba(256, 256, 256, 0.3);
  --br: 5px;
  --text-color: #222;
}
* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    -45deg,
    purple,
    #9a43dd,
    #0052d4,
    #4364f7,
    #6fb1fc,
    #b479f7,
    #8e54e9,
    #e2a0cd,
    coral
  );
  background-size: 300% 300%;
  -webkit-animation: gradientBG 20s ease infinite;
  animation: gradientBG 20s ease infinite;
  height: 100vh;
  color: var(--text-color);
}
.container {
  width: 80%;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  border-radius: 25px;
  height: 80vh;
  overflow-y: scroll;
}
.title {
  font-size: 40px;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.app-body {
  max-width: 450px;
  margin: 0 auto;
}
.task-bar {
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--bg-secondary);
}
.input-box {
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}
.add-button {
  display: inline-block;
  font-size: var(--font-size);
  text-align: center;
  background-color: var(--add-color);
  height: 2rem;
  width: 2rem;
  padding: 3px;
  border-radius: var(--br);
  color: #fff;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.svg-box {
  padding: 1rem;
  border-radius: var(--br);
  background-color: rgba(256, 256, 256, 0.1);
  transition: 400ms ease background-color;
}
.svg-box:hover {
  background-color: var(--bg-secondary);
  cursor: pointer;
}
.svg-box svg {
  position: relative;
  top: 3px;
}
.taskSelection {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.taskSelection div {
  padding: 1rem;
  text-align: center;
  flex-basis: 50%;
  background-color: rgba(256, 256, 256, 0.1);
}
#all {
  border-radius: 5px 0 0 5px;
}
#due {
  border-radius: 0 5px 5px 0;
}
.taskSelection div:hover {
  background-color: var(--bg-secondary);
}
#task-input {
  font-size: var(--font-size);
  padding: 1rem;
  border: none;
  outline: none;
  width: 100%;
  border-radius: var(--br);
  background-color: rgba(256, 256, 256, 0.1);
  color: var(--text-color);
  transition: 400ms ease background-color;
}
#task-input:focus {
  background-color: var(--bg-secondary);
}
#task-input::placeholder {
  color: #444;
}
.task-list {
  font-size: var(--font-size);
}
.task-list li {
  list-style: none;
  height: 100px;
  padding: 25px 0;
  border-bottom: 1px solid var(--bg-secondary);
}
.task-list li:hover {
  background-color: rgba(256, 256, 256, 0.1);
}
.checkbox-wrapper {
  position: relative;
  margin: 0.5em 1em;
}
.checkbox-wrapper svg {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 0.5em;
  top: 0.3em;
  border: 2px solid #eee;
  pointer-events: none;
}
label {
  display: block;
  padding: 0.25em 0.5em 0.25em 0;
  position: relative;
  cursor: pointer;
}
input[type='checkbox'] {
  opacity: 0;
  width: 2em;
  height: 2em;
  position: absolute;
  right: 0.5em;
  top: 0.3em;
}
svg path {
  transition: stroke-dashoffset 0.4s linear;
}

input[type='checkbox']:checked ~ svg {
  border-color: #fff;
}

input[type='checkbox']:checked ~ svg path {
  stroke-dashoffset: 0;
  stroke: currentColor;
}

input[type='checkbox'] ~ svg path {
  stroke: #eee;
}

input[type='checkbox']:checked ~ label {
  color: #666;
  text-decoration: line-through;
}

input[type='checkbox']:focus ~ svg {
  outline: 3px solid var(--add-color);
  outline-offset: 5px;
}

@-webkit-keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hide {
  display: none;
}
